/* Browser reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* define what 1rem should be, 10px/16px = 62.5%, 1rem = 10px, */
  /* font-size: 10px; is a bad practice because user cannot change the font size in their browser*/ }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    /* Starting state */
    opacity: 0;
    transform: translateX(-10rem);
    /* Start 100px to the left */ }
  80% {
    /* Intermediate state */
    transform: translateX(1rem);
    /* Move slightly past the final position */ }
  100% {
    /* Final state */
    opacity: 1;
    transform: translateX(0);
    /* End at the final position */ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  /* Space below the heading, create space between text and button */
  backface-visibility: hidden;
  /* Improve performance during animation */ }
  .heading-primary--main {
    display: block;
    /* Make it a block element to stack the subheading below */
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    /* Name of the animation */
    animation-duration: 1s;
    /* Duration of the animation */
    /*animation-delay: 0.5s; Delay before the animation starts */
    animation-iteration-count: 1;
    /* Number of times the animation will repeat */
    animation-timing-function: ease-in-out;
    /* Easing function for smoothness */ }
  .heading-primary--sub {
    display: block;
    /* Make it a block element */
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    /* Name of the animation */
    animation-duration: 1s;
    /* Duration of the animation */
    /* animation-delay: 0.5s;  Delay before the animation starts */
    animation-iteration-count: 1;
    /* Number of times the animation will repeat */
    animation-timing-function: ease-in-out;
    /* Easing function for smoothness */ }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  /* Make the width fit the width of the text */
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  /* Clip the background to the text */
  color: transparent;
  /* Make the text transparent */
  letter-spacing: 2px;
  transition: all .4s;
  /* Smooth transition for all properties over 0.4 seconds */ }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    /* Skew the text to the right and left */
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    /* Add shadow (x, y, blur, color) on hover */ }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-top-huge {
  margin-top: 10rem; }

.btn:link, .btn:visited {
  /* Style for unvisited and visited links with class "btn" */
  font-size: 1.6rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  /* Make it behave like a block element but stay inline, do it when we give padding or height to a element */
  border-radius: 10rem;
  position: relative;
  /* For positioning the pseudo-element absolutely within the button */
  transition: all .2s;
  /* Smooth transition (transform) for all properties over 0.2 seconds */ }

.btn:hover {
  transform: translateY(-3px);
  /* Move the button up by 3px on hover */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* Add shadow (x, y, blur, color) on hover */ }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    /* Fade out the pseudo-element */ }

.btn:active {
  transform: translateY(-1px);
  /* Move the button up by 1px when active (clicked) */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /* Reduce shadow when active */ }

.btn::after {
  content: "";
  /* Necessary for pseudo-elements */
  display: inline-block;
  /* Make it behave like an inline element (like the btn link and visited but allow width and height */
  height: 100%;
  /* Full height of the button */
  width: 100%;
  /* Full width of the button */
  border-radius: 10rem;
  /* Match the button's border radius */
  position: absolute;
  /* Position relative to the nearest positioned ancestor (the button) */
  top: 0;
  left: 0;
  z-index: -1;
  /* Place it behind the button */
  transition: all .4s;
  /* Smooth transition for all properties over 0.4 seconds */ }

.btn--animated {
  animation-name: moveInBottom;
  /* Name of the animation */
  animation-duration: 0.5s;
  /* Duration of the animation */
  animation-iteration-count: 1;
  /* Number of times the animation will repeat */
  animation-timing-function: ease-out;
  /* Easing function for smoothness */
  animation-fill-mode: backwards;
  /* Apply the initial state of the animation before it starts */ }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.btn--green {
  background-color: #55c57a;
  color: #fff; }
  .btn--green::after {
    background-color: #55c57a; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #55c57a;
  display: inline-block;
  /* to be able to add padding and height */
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all .2s;
  /* Smooth transition (transform) for all properties over 0.2 seconds */ }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  /* Add shadow (x, y, blur, color) on hover */
  transform: translateY(-2px);
  /* Move the button up by 2px on hover */ }

.btn-text:active {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
  /* Add shadow (x, y, blur, color) on hover */
  transform: translateY(0);
  /* Move the button down to its original position when active (clicked) */ }

.composition {
  position: relative;
  /* to be able to position the photos absolutely within the composition */ }
  .composition__photo {
    width: 55%;
    /* for responsive design */
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    /* to be able to position the photos absolutely within the composition */
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
    /* add space between the photo and the outline */ }
    .composition__photo--p1 {
      /* Photo 1 */
      left: 0;
      top: -2rem; }
    .composition__photo--p2 {
      /* Photo 2 */
      right: 0;
      top: 2rem; }
    .composition__photo--p3 {
      /* Photo 3 */
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20;
      /* bring the photo to the front */
      outline: 15px solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    /* when the photo is not hovered, scale it down */
    transform: scale(0.95); }

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: all .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    /* Make the width fit the width of the text */
    background-image: linear-gradient(to right, #7ed56f, #28b485);
    -webkit-background-clip: text;
    /* Clip the background to the text */
    background-clip: text;
    /* Standard property for compatibility */
    color: transparent;
    /* Make the text transparent */ }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03);
    /* Move the box up by 1.5rem and scale it up by 1.03 */ }

.card {
  perspective: 150rem;
  /* Perspective is the distance between the camera and the card */
  -moz-perspective: 150rem;
  /* For Firefox */
  position: relative;
  height: 52rem;
  /* Set the height of the card, the card parent lost its height because of position absolute on the children */ }
  .card__side {
    background-color: #fff;
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    /* Hide the back face of the card */
    border-radius: 1rem;
    overflow: hidden;
    /* Hide the overflow of the card to make the border radius work despeite images are bigger than the card */
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #fff;
      z-index: 1; }
    .card__side--back {
      transform: rotateY(180deg); }
      .card__side--back-1 {
        /* Back side of the card 1 */
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        /* Back side of the card 2 */
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        /* Back side of the card 3 */
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    /* Select the side of the card that is the front and apply the transform to the back side */
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg);
    z-index: 10; }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    /* Blend the image with the gradient */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    /* For Safari */
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    /* Clip the image */ }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
      /*navigate to the img folder and the nat-5.jpg file from the style.css*/ }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg);
      /*navigate to the img folder and the nat-5.jpg file from the style.css*/ }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
      /*navigate to the img folder and the nat-5.jpg file from the style.css*/ }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    text-align: right;
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    /* For Safari */
    box-decoration-break: clone;
    /* clone the decoration of the text (padding) to the next line */ }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card__details {
    padding: 3rem; }
    .card__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto;
      /* Center a block element inside a block element */ }
      .card__details ul li {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem; }
        .card__details ul li:not(:last-child) {
          border-bottom: 1px solid #eee; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    /* center the button inside the card */ }
  .card__price-box {
    color: #fff;
    margin-bottom: 8rem; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.header {
  height: 95vh;
  /* 95% of the viewport height */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /* Cover the entire area */
  background-position: top;
  position: relative;
  /* For positioning the logo box absolutely within the header */
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  /* For Safari */
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .header__logo-box {
    position: absolute;
    /* Position relative to the nearest positioned ancestor (header) */
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    /* Position relative to the nearest positioned ancestor (header) */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Center the box */
    text-align: center;
    /* Center the button inside the box, cause the button is inline-block */ }

.row {
  max-width: 114rem;
  /* background-color: #eee; */
  margin: 0 auto;
  /* Center the block element inside another block element */
  /* &:last-child {
        margin-bottom: 0; */ }
  .row:not(:last-child) {
    /* Apply the margin-bottom to all elements except the last one */
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    /* Select all elements with class starting with "col-" */
    /* background-color: red; */
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  /* Push the section up to cover the header */ }

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /* clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%); */
  transform: skewY(-7deg);
  /* Skew the section down by 7 degrees */
  margin-top: -10rem;
  /* Push the section up by 10rem */ }
  .section-features > * {
    /* Select all child elements of the section-features */
    transform: skewY(7deg);
    /* Skew the child elements up by 7 degrees */ }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem; }
