/* Browser reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* define what 1rem should be, 10px/16px = 62.5%, 1rem = 10px, */
  /* font-size: 10px; is a bad practice because user cannot change the font size in their browser*/ }

body {
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    /* Starting state */
    opacity: 0;
    transform: translateX(-10rem);
    /* Start 100px to the left */ }
  80% {
    /* Intermediate state */
    transform: translateX(1rem);
    /* Move slightly past the final position */ }
  100% {
    /* Final state */
    opacity: 1;
    transform: translateX(0);
    /* End at the final position */ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 3rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 6rem;
  /* Space below the heading, create space between text and button */
  backface-visibility: hidden;
  /* Improve performance during animation */ }
  .heading-primary--main {
    display: block;
    /* Make it a block element to stack the subheading below */
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    /* Name of the animation */
    animation-duration: 1s;
    /* Duration of the animation */
    /*animation-delay: 0.5s; Delay before the animation starts */
    animation-iteration-count: 1;
    /* Number of times the animation will repeat */
    animation-timing-function: ease-in-out;
    /* Easing function for smoothness */ }
  .heading-primary--sub {
    display: block;
    /* Make it a block element */
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation-name: moveInRight;
    /* Name of the animation */
    animation-duration: 1s;
    /* Duration of the animation */
    /* animation-delay: 0.5s;  Delay before the animation starts */
    animation-iteration-count: 1;
    /* Number of times the animation will repeat */
    animation-timing-function: ease-in-out;
    /* Easing function for smoothness */ }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  /* Make the width fit the width of the text */
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  /* Clip the background to the text */
  color: transparent;
  /* Make the text transparent */
  letter-spacing: 2px;
  transition: all .4s;
  /* Smooth transition for all properties over 0.4 seconds */ }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    /* Skew the text to the right and left */
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
    /* Add shadow (x, y, blur, color) on hover */ }

.u-center-text {
  text-align: center; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.btn:link, .btn:visited {
  /* Style for unvisited and visited links with class "btn" */
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  /* Make it behave like a block element but stay inline, do it when we give padding or height to a element */
  border-radius: 10rem;
  position: relative;
  /* For positioning the pseudo-element absolutely within the button */
  transition: all .2s;
  /* Smooth transition (transform) for all properties over 0.2 seconds */ }

.btn:hover {
  transform: translateY(-3px);
  /* Move the button up by 3px on hover */
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  /* Add shadow (x, y, blur, color) on hover */ }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    /* Fade out the pseudo-element */ }

.btn:active {
  transform: translateY(-1px);
  /* Move the button up by 1px when active (clicked) */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  /* Reduce shadow when active */ }

.btn::after {
  content: "";
  /* Necessary for pseudo-elements */
  display: inline-block;
  /* Make it behave like an inline element (like the btn link and visited but allow width and height */
  height: 100%;
  /* Full height of the button */
  width: 100%;
  /* Full width of the button */
  border-radius: 10rem;
  /* Match the button's border radius */
  position: absolute;
  /* Position relative to the nearest positioned ancestor (the button) */
  top: 0;
  left: 0;
  z-index: -1;
  /* Place it behind the button */
  transition: all .4s;
  /* Smooth transition for all properties over 0.4 seconds */ }

.btn--animated {
  animation-name: moveInBottom;
  /* Name of the animation */
  animation-duration: 0.5s;
  /* Duration of the animation */
  animation-iteration-count: 1;
  /* Number of times the animation will repeat */
  animation-timing-function: ease-out;
  /* Easing function for smoothness */
  animation-fill-mode: backwards;
  /* Apply the initial state of the animation before it starts */ }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.header {
  height: 95vh;
  /* 95% of the viewport height */
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  /* Cover the entire area */
  background-position: top;
  position: relative;
  /* For positioning the logo box absolutely within the header */
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .header__logo-box {
    position: absolute;
    /* Position relative to the nearest positioned ancestor (header) */
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    /* Position relative to the nearest positioned ancestor (header) */
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Center the box */
    text-align: center;
    /* Center the button inside the box, cause the button is inline-block */ }

.row {
  max-width: 114rem;
  /* background-color: #eee; */
  margin: 0 auto;
  /* Center the block element inside another block element */
  /* &:last-child {
        margin-bottom: 0; */ }
  .row:not(:last-child) {
    /* Apply the margin-bottom to all elements except the last one */
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    /* Select all elements with class starting with "col-" */
    /* background-color: red; */
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
  /* Push the section up to cover the header */ }
