@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Media Query Manager
/*
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px: Desktop (normal styles apply)
1800px +: Big desktop

$breakpoint argument choices:
- phone (0 - 600px)
- tab-port (600 - 900px)
- tab-land (900 - 1200px)
- big-desktop (1200px +)

ORDER: Base + Typography > General Layout + Grid > Page Layout > Components

1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content; } /* max-width is used for phone because we want to apply the styles for phone and below */
    }
    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { @content; } /* max-width is used for tab-port because we want to apply the styles for tablet and below */
    }
    @if $breakpoint == tab-land {
        @media (max-width: 75em) { @content; } /* max-width is used for tab-land because we want to apply the styles for tablet landscape and below */
    }
    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content; } /* min-width is used for big-desktop because we want to apply the styles for desktop and above */
    }
}
