.feature-box {
    background-color: rgba($color-white, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: all .3s;

    @include respond(tab-port) {
        padding: 2rem;
    }

    &__icon {
        font-size: 6rem;
        margin-bottom: .5rem;
        display: inline-block; /* Make the width fit the width of the text */
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text; /* Clip the background to the text */
        background-clip: text; /* Standard property for compatibility */
        color: transparent; /* Make the text transparent */

        @include respond(tab-port) {
            margin-bottom: 0;
            font-size: 4rem;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03); /* Move the box up by 1.5rem and scale it up by 1.03 */
    }
}
