.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit; /* inherit the font family from the parent element */
        color: inherit; /* inherit the color from the parent element */
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, 0.5);
        border: none;
        border-bottom: 3px solid transparent; /* transparent border on the bottom */
        width: 90%;
        display: block;
        transition: all 0.3s;

        @include respond(phone) {
            width: 100%;
            padding: 1.2rem 1.5rem;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid { /* style invalid input */
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder { /* style the placeholder */
            color: $color-grey-dark-2;
        }


    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 0.7rem;
        display: block;
        transition: all 0.3s;
    }

    &__input:placeholder-shown + &__label { /* style the label when the input is placeholder-shown */
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block; /* display the radio groups side by side */

        @include respond(phone) {
            width: 100%;
            display: block;
            margin-bottom: 2rem;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }

    &__radio-input {
        display: none; /* Hide the default radio input */
    }

    &__radio-label {
        font-size: $default-font-size;
        cursor: pointer; /* change the cursor to a pointer when hovering over the label */
        position: relative; /* position the label relative to the input */
        padding-left: 4rem; /* add padding to the left of the label */
    }

    &__radio-button {
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -0.4rem;

        &::after {
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;

            @include absCenter;
            background-color: $color-primary;
            opacity: 0;
            transition: opacity 0.2s;
        }
    }

    &__radio-input:checked + &__radio-label &__radio-button::after {
        opacity: 1; /* Show the inner circle when radio is checked */
    }
}
