.story {
    width: 75%;
    margin: 0 auto; /* Center the story block element */
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    background-color: rgba($color-white, 0.6);
    padding: 6rem;
    padding-left: 9rem;
    margin-bottom: 6rem;
    font-size: $default-font-size;
    transform: skewX(-12deg); /* Skew the story block element down by 7 degrees */

    & > * { /* Select all child elements of the story block element */
        transform: skewY(12deg); /* Skew the child elements up by 7 degrees */
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;

        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%); /* create a circle with a radius of 50% at the center of the shape */
        -webkit-shape-outside: circle(50% at 50% 50%); /* For Safari and Chrome */
        shape-outside: circle(50% at 50% 50%); /* shape-outside is a CSS property that allows you to define the shape of the content that should be flowed around the float */
        transform: translateX(-3rem) skewX(12deg); /* move the shape to the left by 3rem and skew it to the right by 12 degrees */
    
        position: relative;
    }

    &__img {
        height: 100%; /* make the image take up the full height of the shape */
        transform: translateX(-4rem) scale(1.4);
        transition: all 0.5s;
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.7rem;

        opacity: 0;
        transition: all 0.5s;
        backface-visibility: hidden; /* prevent the caption from flickering when it is translated */
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
