.story {
    width: 75%;
    margin: 0 auto; /* Center the story block element */
    box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
    background-color: rgba($color-white, 0.6);
    padding: 6rem;
    padding-left: 9rem;
    margin-bottom: 6rem;
    font-size: $default-font-size;
    transform: skewX(-12deg); /* Skew the story block element */

    & > * { /* Select all child elements of the story block element */
        transform: skewX(12deg); /* Counter-skew the child elements to straighten them */
    }

    @include respond(tab-port) {
        width: 100%;
        padding: 4rem;
        padding-left: 7rem;
    }

    @include respond(phone) {
        width: 100%;
        padding: 4rem;
        padding-left: 4rem;
        transform: skewX(0); /* Remove skew on mobile */
        
        & > * {
            transform: skewX(0); /* Remove counter-skew on mobile */
        }
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg); /* Move left and counter-skew */
        position: relative;

        @include respond(phone) {
            width: 10rem;
            height: 10rem;
            float: none;
            margin: 0 auto 2rem auto;
            transform: translateX(0) skewX(0);
        }
    }

    &__img {
        height: 100%; /* make the image take up the full height of the shape */
        transform: translateX(-4rem) scale(1.4);
        transition: all 0.5s;

        @include respond(phone) {
            transform: translateX(-2rem) scale(1.2);
        }
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }

    &__text {
        transform: skewX(12deg);

        @include respond(phone) {
            transform: skewX(0);
        }
    }

    &__caption {
        @include absCenter;
        transform: translate(-50%, 20%); /* Override absCenter transform for initial offset position */
        color: $color-white;
        text-transform: uppercase;
        text-align: center;
        font-size: 1.7rem;

        opacity: 0;
        transition: all 0.5s;
        backface-visibility: hidden; /* prevent the caption from flickering when it is translated */

        @include respond(phone) {
            font-size: 1.4rem;
        }
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%); /* Perfect center on hover */
    }
}
