@keyframes moveInLeft { 
    0% { /* Starting state */
        opacity: 0;
        transform: translateX(-10rem); /* Start 100px to the left */
    }
    80% { /* Intermediate state */
        transform: translateX(1rem); /* Move slightly past the final position */
    }
    100% { /* Final state */
        opacity: 1;
        transform: translateX(0); /* End at the final position */
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    80% {
        transform: translateX(-1rem);
    }
    100% { 
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }
    100% { 
        opacity: 1;
        transform: translateY(0);
    }
}